<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oops!</h1>
        <h2>There was an error with your image. Please try another one.</h2>
    </hgroup>
</body>
</html>
